@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');
h2{
    color: aliceblue;
    font-weight: bolder;
}
body {
    font-family: "Anta", sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100vh;
    background: url(/baground.jpg); 
    background-size: cover;
}

.container {
    text-align: center;
    padding-top: 40px;
    border-radius: 20px;
    box-shadow: black 20px;
    height: 40%;
    width: 40%;
    background: url(/baground.jpg); 
    margin: 40px 40px;
    /* margin-right: ;   */
}

label {
    font-weight: bold;
}

input {
    padding: 5px;
    margin: 5px;
}

select {
    padding: 5px;
    margin: 5px;
}

button {
    padding: 8px 20px;
    margin: 5px;
    cursor: pointer;
    background-color: #12d8f7;
    color: white;
    border: none;
    border-radius: 3px;
}
button:hover{
    background-color: chartreuse;
}
#result {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
}
